body {
    font-family: sans-serif;
    background-color: #ffffff;
}

hr {
    padding: 1px;
    border-radius: 10px;
    background-color: black;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;

    .details {
        display: flex;
        flex-direction: column;
        color: blue;
        a{
            text-decoration: none;
            color: blue;
            font-size: larger;
        }
    }
}