body {
            font-family: sans-serif;
            background-color: #ffffff;
        }

        hr {
            padding: 1px;
            border-radius: 10px;
            background-color: black;
        }


        /* first section is navber.... and this full section is navber stylesheet */


        /* nav container section */

        .nav-container {
            display: flex;
            justify-content: space-between;
            margin: 10px;

        }

        /* container section */

        .container-main {
            height: 300px;
            width: 280px;
            background-color: rgb(252, 145, 45);
            margin: 15px;
            border-radius: 10px;

        }

        /* container button section */
        button {
            background-color: none;
        }

        button {
            background-color: #0b006b;
            border: none;
            border-radius: 10px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .container-btn {
            margin: 0px 70px;
        }

        /* container element section */

        nav section div div div center img {
            margin-top: 20px;
        }

        .container-heading {
            font-size: 29px;
            margin: 10px 0px;
            text-align: center;
            color: white;
        }

        .container-p {
            margin: 20px;
            font-size: 14px;
            color: black;
        }


        /* this full section 1 is main tag context stylesheet */



        /* portfolio full section */

        .portfolio {
            display: flex;
            justify-content: space-between;
            margin: 15px;
        }

        /* portfolio container 1 section stylesheet */
        .portfolio-cont-1 {
            background-color: rgb(252, 145, 45);
            padding: 10px;
            margin: 10px;
            border-radius: 10px 100px 100px 10px;
        }

        .portfolio-cont-1-nav {
            display: flex;
        }


        .pc1n-home:hover {
            background-color: rgb(255, 33, 33);
            border-radius: 25px;
        }

        .pc1n-home {
            padding: 15px;
            text-transform: uppercase;
        }

        .pc1n-home-a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }


        .pc1n-blog:hover {
            background-color: rgb(255, 33, 33);
            border-radius: 25px;
        }

        .pc1n-blog {
            padding: 15px;
            text-transform: uppercase;
        }

        .pc1n-blog-a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }


        /* portfolio container 2 section stylesheet */

        .portfolio-cont-2 {
            background-color: rgb(252, 145, 45);
            padding: 10px;
            margin: 10px;
            border-radius: 10px 100px 100px 10px;
        }

        .portfolio-cont-2-nav {
            display: flex;
        }


        .pc2n-product:hover {
            background-color: rgb(255, 33, 33);
            border-radius: 25px;

        }

        .pc2n-product {
            padding: 15px;
        }

        .pc2n-product-a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }


        .pc2n-info:hover {
            background-color: rgb(255, 33, 33);
            border-radius: 25px;
        }

        .pc2n-info {
            padding: 15px;
        }

        .pc2n-info-a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }


        /* last submit botton  */

        .submit-btn {
            color: antiquewhite;
            text-decoration: none;
        }